<footer class="footer">
  <p>Copyright &copy; 2022 Timothy Elmer. All rights reserved. See <a href="/disclaimer.html">Disclaimer</a>.</p>
  <br/>
  <p>This page was built based on the Antora default UI.</p>
  <p>The source code for this UI is licensed under the terms of the https://gitlab.com/antora/antora-ui-default/-/raw/master/LICENSE[Mozilla Public License Version 2.0] (MPL-2.0). The source code for this modified version can be obtained from https://github.com/tim-elmer/timelmer.com-ui[GitHub]</p>
</footer>
