<footer class="footer">
  <p>Copyright &copy; 2022 Timothy Elmer. All rights reserved. See <a href="/disclaimer.html">Disclaimer</a>.</p>
  <p>See <a href="/attribution.html">Attribution</a> for license notices.</p>
</footer>
